{% extends 'base.html' %}

{% block content %}

    <ul class="messages">
        {% for field in login_form.non_field_errors %}
             <div class="alert alert-{{ field.tags }} flash"><p align="center">{{ field }}</p></div>
        {% endfor %}
    </ul>

    <div class="page-header">
         <h2 align="center">Login form</h2>
    </div>

    <div class="span4 offset4" align="center" >
        <form class="form-signin" action="{% url 'login' %}" method="post" id="user_form" role="form" >
            {% csrf_token %}
            {% if login_form %}
                {% for field in login_form.visible_fields %}
                    {{ field.help_text }} <br/>
                    {{ field }} <br/>
                     <span style="color:red;">{{ field.errors }}</span>
                {% endfor %}
                <br>
                 <input type="submit" value="Login" class="btn btn-block btn-primary">
            {% endif %}
        </form>
    </div>


{% endblock %}